/////////////////////////////////////////////////////////
//アーカイブページ
/////////////////////////////////////////////////////////
.article-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    &-item{
        min-width: 330px;
        width: 30%;
        background: #fff;
        border: 1px solid #d8d8d8;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
        margin:20px 15px;
        &__link{
            display: block;
            overflow: hidden;
        }
        &__thumbnail{
            width: 100%;
        }
        &__title{
            font-size: 22px;
            font-weight: bold;
            margin:10px 25px;
        }
        &__info{
            font-size: 16px;
            margin:5px 25px 15px;
        }
        &__category{

        }
        &__time{

        }
    }
}

//ページネーション
.pagination{
    &-box{
        display: inline-block;
    }
    &__first,&__prev,&__curren,&__inactive,&__next,&__last{
        min-width: 40px;
        line-height: 40px;
        background:#bbb;
        margin-right:3px;
        margin-bottom:3px;
        color:#FFF;
        display: inline-block;
        text-align: center;
    }
    &__curren{
        background:#000;
    }
}

//小型PCデザイン
@media all and (max-width: $lg) {
}


//タブレットデザイン
@media all and (max-width: $md) {
}


//スマホデザイン
@media all and (max-width: $sm) {
    .article-list{
        &-item{
            min-width: 300px;
            margin: 15px 15px;
        }
    }
}


/////////////////////////////////////////////////////////
//ニュースアーカイブページ
/////////////////////////////////////////////////////////
.article-news-list{
    max-width:1000px;
    margin:auto;
    font-size: 1.1em;
    li{
        border-bottom: 1px dashed #AAAAAA;
        padding:5px;
    }
}