
/////////////////////////////////////////////////////////
//共通
/////////////////////////////////////////////////////////
body{
    color:#333;
    font-size: 16px;
    background:#FAFAFA;
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}
a{
    color:currentcolor;
    text-decoration:none;
}
a:hover{
    opacity: 0.8;
    -webkit-transition: .3s;
    transition: .3s;
}
p{

}
hr{

}
small{

}
strong{

}
img{
    max-width: 100%;
    height: auto;
}
iframe{
    border:0;
    max-width: 100%;
}
figure{
    margin:auto;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.inner{
    max-width:1250px;
    padding:45px 50px;
    width:100%;
    box-sizing: border-box;
    margin:auto;

}
.inner-breadcrumbs{
    max-width:1250px;
    padding:15px 50px 10px;
    width:100%;
    box-sizing: border-box;
    margin:auto;
}
.pc{
    display: block;
}
.sp{
    display: none;
}


#breadcrumbs{
    color:#ACACAC;

}
//小型PCデザイン
@media all and (max-width: $lg) {
}


//タブレットデザイン
@media all and (max-width: $md) {
}


//スマホデザイン
@media all and (max-width: $sm) {
    .pc{
        
        display: none;
    }
    .sp{
        display: block;
    }
}

/////////////////////////////////////////////////////////
//メインカラム
/////////////////////////////////////////////////////////
.main-column{
    margin-left:300px;
}

//小型PCデザイン
@media all and (max-width: $lg) {
}


//タブレットデザイン
@media all and (max-width: $md) {
    .main-column{
        margin-left:0px;
    }
}


//スマホデザイン
@media all and (max-width: $sm) {
}

/////////////////////////////////////////////////////////
//上に戻る
/////////////////////////////////////////////////////////
#page-top {
    font-size: 0;
    position: fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0;
}
#page-top.fade-in {
    color: #000;
    font-size: 60px;
    opacity: 0.6;
    transition: opacity 1s;
}



//小型PCデザイン
@media all and (max-width: $lg) {
}


//タブレットデザイン
@media all and (max-width: $md) {
}


//スマホデザイン
@media all and (max-width: $sm) {
    .inner{
        padding:50px 15px;
    }
}