/////////////////////////////////////////////////////////
//お問い合わせ
/////////////////////////////////////////////////////////
.mw_wp_form{
    
    table{
        max-width:650px;
        width:100%;
        margin: auto;
        margin-bottom:20px;
        th{
            width: 33%;
            background-color: #E4E4E4;
            border:solid 1px #333333;
            padding: 10px;
            box-sizing: border-box;
        }
        td{
            background-color: #FFFFFF;
            border:solid 1px #333333;

            padding: 10px;
            box-sizing: border-box;
        }
        button, input, optgroup, select, textarea {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }
        .must {
            background: #ef0b23;
            color: #fff;
            float: right;
            padding: 1px 5px;
            font-size: 0.8em;
            margin-top: 3px;
        }
    }
    .submit_button{
        font-size: 20px;
        padding: 0.7em 1.4em;
        text-decoration: none;
        color: #FFF;
        background: #333333;
        border: none;
    }
    .submit_button:hover{
        opacity: 0.8;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .back_button{
        font-size: 20px;
        padding: 0.5em 1em;
        text-decoration: none;
        color: #FFF;
        background: #888888;
        border: none;
    }
    .back_button:hover{
        opacity: 0.8;
        -webkit-transition: .3s;
        transition: .3s;
    }
}




//小型PCデザイン
@media all and (max-width: $lg) {
}



//タブレットデザイン
@media all and (max-width: $md) {

}

//スマホデザイン
@media all and (max-width: $sm) {
    .mw_wp_form{
        table{
            th{
                width: 100%;
                display: block;
                border-top: none;
                
            }
            td{
                width: 100%;
                display: block;
                border-top: none;
            }
            tr:first-of-type{
                border-top:solid 1px #333333;
            }
        }
}
}