
/////////////////////////////////////////////////////////
//フッター
/////////////////////////////////////////////////////////

.footer{
    &-sitemaps{
        margin:10px;
        isplay: flex;
        flex-wrap: wrap;
        @include center();
    }
    &-menu{
        margin:10px auto;
        width:25%;
        @include mincho();
        &__title{
            font-size:20px;
            color:#181818;
            font-weight: bold;
            
        }
    }

    //フッター店舗情報
    &-info{
        height: 90px;
        color:#FFFFFF;
        text-align: center;
        background:#484848;
        @include center();

    }

    //コピーライト
    &-copyright{
        height: 90px;
        color:#FFFFFF;
        text-align: center;
        background:#000000;
        @include center();
    }
}

//小型PCデザイン
@media all and (max-width: $lg) {
    .footer{
        &-menu{
            width:50%;
        }
    }
}


//タブレットデザイン
@media all and (max-width: $md) {
    
}


//スマホデザイン
@media all and (max-width: $sm) {
    .footer{
        &-menu{
            width:100%;
        }
    }
}