/////////////////////////////////////////////////////////
//フッター
/////////////////////////////////////////////////////////

//ニュースバー
.news-bar{
    color:#FFFFFF;
    font-weight: bold;
    background: rgba(72, 72, 72, 0.61);
    position: fixed;
    padding:0 45px;
    overflow: hidden;
    height: 42px;
    z-index:10;
    left:300px;
    right: 0;
    display:flex;
    justify-content:space-between;
    &-container1{
        &__item{
            height: 42px;
            line-height: 42px;
        }
    }
    &-container2{
        height: 42px;
        line-height: 42px;
    }
}
//トップメインビジュアル
.top-mv{
    height: 100vh;
    color:#FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
    &-container{
       
    
        &__title{
            @include mincho();
            font-size: 55px;
            font-weight: bold;
            margin-bottom:20px;
        }
        &__text{
            @include mincho();
            font-size: 25px;
            max-width: 800px;
            margin-bottom:55px;
        }
        &__link{
            border:2px #FFFFFF solid;
            display: inline-block;
            min-width: 260px;
            padding:16px;
            font-size: 22px;
            text-align: center;
            transition:.5s;
            box-sizing: border-box;
            &:hover{
                background:rgb(255, 255, 255);
                color:#333;
                opacity: 1;
                transition:.5s;
            }
        }
    }
    &-controller{
        position:absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100px;

        &__down{
            float: left;
            font-size: 45px;
        }
        &__up{
            float:right;
            font-size: 45px;
        }
    }



    //背景画像設定
    &__background{
        &--1{
            background:url(img/top-mv__background--1.png);
            background-size: cover;
            background-attachment: fixed;
        }
        &--2{
            background:url(img/top-mv__background--2.png);
            background-size: cover;
            background-attachment: fixed;
        }
        &--3{
            background:url(img/top-mv__background--3.png);
            background-size: cover;
            background-attachment: fixed;
        }
        &--4{
            background:url(img/top-mv__background--4.png);
            background-size: cover;
            background-attachment: fixed;

        }

    }

}
.top-blog-container{
    &__title{
        font-size: 40px;
        font-weight: bold;
        @include mincho();
    }
    &__link{
        font-size:20px;
    }
}

//小型PCデザイン
@media all and (max-width: $lg) {
}



//タブレットデザイン
@media all and (max-width: $md) {
    .news-bar{
        display: none;
    }
}

//スマホデザイン
@media all and (max-width: $sm) {
    .top-mv{
        &-container{
            text-align: center;
            padding-bottom: 15px;
            &__title{
                font-size: 30px;
            }
            &__text{
                font-size: 20px;
            }
        }
    }
    
}

.fadeIn {
    opacity: 0.1;
    transform: translate(0, 150px);
    transition: all 1000ms;
}
.fadeIn.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
