
/////////////////////////////////////////////////////////
//ヘッター
/////////////////////////////////////////////////////////
.header{
    background:#FFFFFF;
    width:300px;
    position:fixed;
    height: 100%;
    z-index: 10;
    overflow: hidden;
        //ロゴ
        &-logo{
            margin:100px auto 50px;
        }
        //グローバルナビ
        &-menu{
            color:#ACACAC;
            &__list{
                text-align: center;
                font-size: 20px;
                color:#ACACAC;
                font-weight: bold;
                li{
                    margin:15px;
                }
                .menu-item-has-children>.sub-menu{
                    font-size: 0.7em;
                    opacity: 0;
                    overflow: hidden;
                    height: 0;
                    transition: .5s;
                    transition-property:opacity;

                }
                .menu-item-has-children:hover>.sub-menu{
                    display:block;
                    height: auto;
                    transition:.5s;
                    transition-property:opacity;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        //ソーシャルボタン
        &-social{
            margin:30px auto 30px;
            width:200px;
            &__list{
                display: flex;
                justify-content:space-around;
            }
            &__item{
    
            }
        }
    
        //店舗情報
        &-info{
            color:#ACACAC;
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            margin: auto;
            &__name{
                font-size:22px;
            }
            &__address{
    
            }
            &__tel{
            }
        }
        &-sp{
            display: none;
        }
    }
    
    //メインビジュアル（トップ以外）
    .mv{
        max-height: 300px;
        height: 50vw;
        background-image:url("img/mv.png");
        background-size: cover;
        position: relative;
        &-translucent{
            background:rgba(0, 0, 0, 0.3);
            height: 100%;
            display: flex;
            justify-content: center;
        }
        &-title{
            font-size: 52px;
            color:#FFFFFF;
            @include mincho();
        }
    }


//小型PCデザイン
@media all and (max-width: $lg) {

}



//タブレットデザイン
@media all and (max-width: $md) {
    .header{
        width: 100%;
        position: fixed;
        min-height:50px;
        height: auto;
        background:rgba(255,255,255,0.9);
        &-box{
            height: 0px;
            
        }
        &-logo{
            display: none;
        }
        &-info{
            position: static;
        }
        &-sp{
            height: 50px;
            width: 100%;
            position: fixed;
            background: #333333;
            display: block;
            z-index: 100;
            &__title{
                color: #FFFFFF;
                margin:10px 0 0 10px;
                font-size: 1.4em;
                font-weight: bold;
            }
            &__menu{
                &-trigger{
                    display: inline-block;

                    transition: all .4s;
                    box-sizing: border-box;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 35px;
                    height: 28px;
                    span{
                        display: inline-block;
                        transition: all .4s;
                        box-sizing: border-box;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        
                        background-color: #fff;
                        border-radius: 4px;
                        &:nth-of-type(1) {
                            top: 0;
                        }
                        &:nth-of-type(2) {
                            top: 12px;
                        }
                        &:nth-of-type(3) {
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .header.active{
        .header-box{
            height: auto;
            margin-top: 65px;
        }
        .header-sp{
            &__menu{
                &-trigger{
                    span{
                        &:nth-of-type(1) {
                            -webkit-transform: translateY(12px) rotate(-315deg);
                            transform: translateY(12px) rotate(-315deg);
                        }
                        &:nth-of-type(2) {
                            opacity: 0;
                        }
                        &:nth-of-type(3) {
                            -webkit-transform: translateY(-12px) rotate(315deg);
                            transform: translateY(-12px) rotate(315deg);
                        }
                    }
                }
            }
        }
    }
}

//スマホデザイン
@media all and (max-width: $sm) {
    .header{


    }

}