/////////////////////////////////////////////////////////
//固定ページ
/////////////////////////////////////////////////////////
.fixed-post{
    max-width:900px;
    margin:auto;
    &__content{
        h2{
            font-size: 1.9em;
            font-weight: bold;
        }
        h3{
            font-size:  1.56em;
            font-weight: bold;
        }
        h4{
            font-size: 1.25em;
            font-weight: bold;
        }
        h5{
            font-size: 1em;
            font-weight: 600;
        }
        h6{
            font-size: .8em;
            font-weight: 600;
        }
        p{
            margin-bottom: 1em;
        }
        ul{
            list-style: disc;
            padding-left: 30px;
        }
        blockquote{

        }
    }
}



//小型PCデザイン
@media all and (max-width: $lg) {
}



//タブレットデザイン
@media all and (max-width: $md) {

}

//スマホデザイン
@media all and (max-width: $sm) {
}


/////////////////////////////////////////////////////////
//固定ページ（テンプレート）
/////////////////////////////////////////////////////////
.fixed-post{
    max-width: 1000px;
    
    &__content{
        h2{
            @include mincho();
        
        }
        p{
            font-size: 18px;
        }
        .wp-block-column{
            p{
                margin:1.5em 0 1em;
            }
        }
    }
}



//小型PCデザイン
@media all and (max-width: $lg) {
}

//タブレットデザイン
@media all and (max-width: $md) {

}

//スマホデザイン
@media all and (max-width: $sm) {
}
