/////////////////////////////////////////////////////////
//投稿ページ
/////////////////////////////////////////////////////////

.single-post{
    max-width:900px;
    margin:auto;
    &__content{
        h2{
            font-size: 1.9em;
            font-weight: bold;
        }
        h3{
            font-size:  1.56em;
            font-weight: bold;
        }
        h4{
            font-size: 1.25em;
            font-weight: bold;
        }
        h5{
            font-size: 1em;
            font-weight: 600;
        }
        h6{
            font-size: .8em;
            font-weight: 600;
        }
        p{
            margin-bottom: 1em;
        }
        ul{
            list-style: disc;
            padding-left: 30px;
        }
        blockquote{

        }
    }
    &__info{
        margin-bottom:40px;
        color:#777777;
        text-align: center;
    }
    &__title{
        font-size:35px;
        font-weight: bold;
        text-align: center;
    }
    &__time{
        margin-left: 10px;
        
    }
    &__category{
        margin-left: 10px;
        
    }
    &__author{
        margin-left: 10px;
        
    }
    &__thumbnail{
        margin-bottom:15px;
    }
    &__content{
        
    }
    &-link{
        border-bottom:1px solid #CCCCCC;
        border-top:1px solid #CCCCCC;
        padding:5px 5px;
        display: flex;
        clear: both;
        &__next-box{
            display: flex;
            width: 100%;
        }
        &__prev-box{
            display: flex;
            width: 100%;
            flex-direction:row-reverse;

        }
        &__next{
            display: flex;
            width: 50%;
            border-right:1px solid #CCCCCC;
            box-sizing: border-box;
        }
        &__prev{
            display: flex;
            width: 50%;
            flex-direction:row-reverse;
            box-sizing: border-box;
        }
        &__title{
            display: flex;
            align-items: center;
            padding:15px;
        }
        .attachment-single-post-link__img{
            width: 90px;
            height: 90px;
            object-fit: cover; /* IE未対応 */
        }
    }
    &__{
        
    }

}

//次・前の記事へ






//小型PCデザイン
@media all and (max-width: $lg) {
}



//タブレットデザイン
@media all and (max-width: $md) {

}

//スマホデザイン
@media all and (max-width: $sm) {
}




// OwlCarousel
.owl-nav{
    font-size: 50px;
    height: 100%;
}

.owl-carousel .owl-nav button.owl-prev{
    top:0;
    left: 0;
    position: absolute;
    height: 100%;
    background: #FFFFFF;
    &:hover{
        opacity: 0.8;
        background: #444444;
        color: #FFFFFF;
        opacity: 1;
        -webkit-transition: .5s;
        transition: .5s;
    }
    &:focus {
        outline: none;
        }
}
.owl-carousel .owl-nav button.owl-next{
    top:0;
    right: 0;
    position: absolute;
    background: #FFFFFF;
    height: 100%;
    &:hover{
        opacity: 0.8;
        background: #444444;
        color: #FFFFFF;
        opacity: 1;
        -webkit-transition: .5s;
        transition: .5s;
    }
    &:focus {
        outline: none;
        }
}
.related-article__block:hover{
    opacity: 0.8;
    transition: .3s;
}
