/////////////////////////////////////////////////////////
//下層ページ
/////////////////////////////////////////////////////////




//小型PCデザイン
@media all and (max-width: $lg) {
}



//タブレットデザイン
@media all and (max-width: $md) {

}

//スマホデザイン
@media all and (max-width: $sm) {
}

