/*
Theme Name: ShibuyaZoo
Description:テーマの説明
Theme URI: テーマの URL
Author: towatatsu
Author URI: 作った人の URL
Version: 0.1
License: ライセンス
License URI: ライセンスの URL
*/

/////////////////////////////////////////////////////////
//関数
/////////////////////////////////////////////////////////
//縦横中央寄せ
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin mincho(){
    font-family:"游明朝","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

/////////////////////////////////////////////////////////
//変数
/////////////////////////////////////////////////////////
$lg:1200px;
$md:1050px;
$sm:750px;

/////////////////////////////////////////////////////////
//読み込み
/////////////////////////////////////////////////////////
@import "sass/common";//共通CSS
@import "sass/header";//ヘッダーCSS
@import "sass/footer";//フッターCSS
@import "sass/sidebar";//サイドバーCSS
@import "sass/front-page";//トップページCSS
@import "sass/single";//投稿ページCSS
@import "sass/page";//固定ページCSS
@import "sass/archive";//アーカイブページCSS
@import "sass/contact";//下層ページCSS
@import "sass/underlayer";//下層ページCSS
//@import "add/underlayer";//サイトごとの追加CSS

