@charset "UTF-8";
/*
Theme Name: ShibuyaZoo
Description:テーマの説明
Theme URI: テーマの URL
Author: towatatsu
Author URI: 作った人の URL
Version: 0.1
License: ライセンス
License URI: ライセンスの URL
*/
body {
  color: #333;
  font-size: 16px;
  background: #FAFAFA;
}

a {
  color: currentcolor;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
  max-width: 100%;
}

figure {
  margin: auto;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.inner {
  max-width: 1250px;
  padding: 45px 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

.inner-breadcrumbs {
  max-width: 1250px;
  padding: 15px 50px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

#breadcrumbs {
  color: #ACACAC;
}

@media all and (max-width: 750px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

.main-column {
  margin-left: 300px;
}

@media all and (max-width: 1050px) {
  .main-column {
    margin-left: 0px;
  }
}

#page-top {
  font-size: 0;
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
}

#page-top.fade-in {
  color: #000;
  font-size: 60px;
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media all and (max-width: 750px) {
  .inner {
    padding: 50px 15px;
  }
}

.header {
  background: #FFFFFF;
  width: 300px;
  position: fixed;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.header-logo {
  margin: 100px auto 50px;
}

.header-menu {
  color: #ACACAC;
}

.header-menu__list {
  text-align: center;
  font-size: 20px;
  color: #ACACAC;
  font-weight: bold;
}

.header-menu__list li {
  margin: 15px;
}

.header-menu__list .menu-item-has-children > .sub-menu {
  font-size: 0.7em;
  opacity: 0;
  overflow: hidden;
  height: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.header-menu__list .menu-item-has-children:hover > .sub-menu {
  display: block;
  height: auto;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  visibility: visible;
  opacity: 1;
}

.header-social {
  margin: 30px auto 30px;
  width: 200px;
}

.header-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-info {
  color: #ACACAC;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.header-info__name {
  font-size: 22px;
}

.header-sp {
  display: none;
}

.mv {
  max-height: 300px;
  height: 50vw;
  background-image: url("img/mv.png");
  background-size: cover;
  position: relative;
}

.mv-translucent {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mv-title {
  font-size: 52px;
  color: #FFFFFF;
  font-family: "游明朝","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

@media all and (max-width: 1050px) {
  .header {
    width: 100%;
    position: fixed;
    min-height: 50px;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
  }
  .header-box {
    height: 0px;
  }
  .header-logo {
    display: none;
  }
  .header-info {
    position: static;
  }
  .header-sp {
    height: 50px;
    width: 100%;
    position: fixed;
    background: #333333;
    display: block;
    z-index: 100;
  }
  .header-sp__title {
    color: #FFFFFF;
    margin: 10px 0 0 10px;
    font-size: 1.4em;
    font-weight: bold;
  }
  .header-sp__menu-trigger {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 28px;
  }
  .header-sp__menu-trigger span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  .header-sp__menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .header-sp__menu-trigger span:nth-of-type(2) {
    top: 12px;
  }
  .header-sp__menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .header.active .header-box {
    height: auto;
    margin-top: 65px;
  }
  .header.active .header-sp__menu-trigger span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-315deg);
    transform: translateY(12px) rotate(-315deg);
  }
  .header.active .header-sp__menu-trigger span:nth-of-type(2) {
    opacity: 0;
  }
  .header.active .header-sp__menu-trigger span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(315deg);
    transform: translateY(-12px) rotate(315deg);
  }
}

.footer-sitemaps {
  margin: 10px;
  isplay: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu {
  margin: 10px auto;
  width: 25%;
  font-family: "游明朝","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.footer-menu__title {
  font-size: 20px;
  color: #181818;
  font-weight: bold;
}

.footer-info {
  height: 90px;
  color: #FFFFFF;
  text-align: center;
  background: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright {
  height: 90px;
  color: #FFFFFF;
  text-align: center;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1200px) {
  .footer-menu {
    width: 50%;
  }
}

@media all and (max-width: 750px) {
  .footer-menu {
    width: 100%;
  }
}

.news-bar {
  color: #FFFFFF;
  font-weight: bold;
  background: rgba(72, 72, 72, 0.61);
  position: fixed;
  padding: 0 45px;
  overflow: hidden;
  height: 42px;
  z-index: 10;
  left: 300px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-bar-container1__item {
  height: 42px;
  line-height: 42px;
}

.news-bar-container2 {
  height: 42px;
  line-height: 42px;
}

.top-mv {
  height: 100vh;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.top-mv-container__title {
  font-family: "游明朝","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.top-mv-container__text {
  font-family: "游明朝","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 25px;
  max-width: 800px;
  margin-bottom: 55px;
}

.top-mv-container__link {
  border: 2px #FFFFFF solid;
  display: inline-block;
  min-width: 260px;
  padding: 16px;
  font-size: 22px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-mv-container__link:hover {
  background: white;
  color: #333;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.top-mv-controller {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
}

.top-mv-controller__down {
  float: left;
  font-size: 45px;
}

.top-mv-controller__up {
  float: right;
  font-size: 45px;
}

.top-mv__background--1 {
  background: url(img/top-mv__background--1.png);
  background-size: cover;
  background-attachment: fixed;
}

.top-mv__background--2 {
  background: url(img/top-mv__background--2.png);
  background-size: cover;
  background-attachment: fixed;
}

.top-mv__background--3 {
  background: url(img/top-mv__background--3.png);
  background-size: cover;
  background-attachment: fixed;
}

.top-mv__background--4 {
  background: url(img/top-mv__background--4.png);
  background-size: cover;
  background-attachment: fixed;
}

.top-blog-container__title {
  font-size: 40px;
  font-weight: bold;
  font-family: "游明朝","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.top-blog-container__link {
  font-size: 20px;
}

@media all and (max-width: 1050px) {
  .news-bar {
    display: none;
  }
}

@media all and (max-width: 750px) {
  .top-mv-container {
    text-align: center;
    padding-bottom: 15px;
  }
  .top-mv-container__title {
    font-size: 30px;
  }
  .top-mv-container__text {
    font-size: 20px;
  }
}

.fadeIn {
  opacity: 0.1;
  -webkit-transform: translate(0, 150px);
          transform: translate(0, 150px);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.fadeIn.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.single-post {
  max-width: 900px;
  margin: auto;
}

.single-post__content h2 {
  font-size: 1.9em;
  font-weight: bold;
}

.single-post__content h3 {
  font-size: 1.56em;
  font-weight: bold;
}

.single-post__content h4 {
  font-size: 1.25em;
  font-weight: bold;
}

.single-post__content h5 {
  font-size: 1em;
  font-weight: 600;
}

.single-post__content h6 {
  font-size: .8em;
  font-weight: 600;
}

.single-post__content p {
  margin-bottom: 1em;
}

.single-post__content ul {
  list-style: disc;
  padding-left: 30px;
}

.single-post__info {
  margin-bottom: 40px;
  color: #777777;
  text-align: center;
}

.single-post__title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.single-post__time {
  margin-left: 10px;
}

.single-post__category {
  margin-left: 10px;
}

.single-post__author {
  margin-left: 10px;
}

.single-post__thumbnail {
  margin-bottom: 15px;
}

.single-post-link {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
}

.single-post-link__next-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.single-post-link__prev-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.single-post-link__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  border-right: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.single-post-link__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.single-post-link__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.single-post-link .attachment-single-post-link__img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  /* IE未対応 */
}

.owl-nav {
  font-size: 50px;
  height: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  background: #FFFFFF;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  opacity: 0.8;
  background: #444444;
  color: #FFFFFF;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next {
  top: 0;
  right: 0;
  position: absolute;
  background: #FFFFFF;
  height: 100%;
}

.owl-carousel .owl-nav button.owl-next:hover {
  opacity: 0.8;
  background: #444444;
  color: #FFFFFF;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

.related-article__block:hover {
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
}

.fixed-post {
  max-width: 900px;
  margin: auto;
}

.fixed-post__content h2 {
  font-size: 1.9em;
  font-weight: bold;
}

.fixed-post__content h3 {
  font-size: 1.56em;
  font-weight: bold;
}

.fixed-post__content h4 {
  font-size: 1.25em;
  font-weight: bold;
}

.fixed-post__content h5 {
  font-size: 1em;
  font-weight: 600;
}

.fixed-post__content h6 {
  font-size: .8em;
  font-weight: 600;
}

.fixed-post__content p {
  margin-bottom: 1em;
}

.fixed-post__content ul {
  list-style: disc;
  padding-left: 30px;
}

.fixed-post {
  max-width: 1000px;
}

.fixed-post__content h2 {
  font-family: "游明朝","ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.fixed-post__content p {
  font-size: 18px;
}

.fixed-post__content .wp-block-column p {
  margin: 1.5em 0 1em;
}

.article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.article-list-item {
  min-width: 330px;
  width: 30%;
  background: #fff;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
  margin: 20px 15px;
}

.article-list-item__link {
  display: block;
  overflow: hidden;
}

.article-list-item__thumbnail {
  width: 100%;
}

.article-list-item__title {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 25px;
}

.article-list-item__info {
  font-size: 16px;
  margin: 5px 25px 15px;
}

.pagination-box {
  display: inline-block;
}

.pagination__first, .pagination__prev, .pagination__curren, .pagination__inactive, .pagination__next, .pagination__last {
  min-width: 40px;
  line-height: 40px;
  background: #bbb;
  margin-right: 3px;
  margin-bottom: 3px;
  color: #FFF;
  display: inline-block;
  text-align: center;
}

.pagination__curren {
  background: #000;
}

@media all and (max-width: 750px) {
  .article-list-item {
    min-width: 300px;
    margin: 15px 15px;
  }
}

.article-news-list {
  max-width: 1000px;
  margin: auto;
  font-size: 1.1em;
}

.article-news-list li {
  border-bottom: 1px dashed #AAAAAA;
  padding: 5px;
}

.mw_wp_form table {
  max-width: 650px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.mw_wp_form table th {
  width: 33%;
  background-color: #E4E4E4;
  border: solid 1px #333333;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mw_wp_form table td {
  background-color: #FFFFFF;
  border: solid 1px #333333;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mw_wp_form table button, .mw_wp_form table input, .mw_wp_form table optgroup, .mw_wp_form table select, .mw_wp_form table textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.mw_wp_form table .must {
  background: #ef0b23;
  color: #fff;
  float: right;
  padding: 1px 5px;
  font-size: 0.8em;
  margin-top: 3px;
}

.mw_wp_form .submit_button {
  font-size: 20px;
  padding: 0.7em 1.4em;
  text-decoration: none;
  color: #FFF;
  background: #333333;
  border: none;
}

.mw_wp_form .submit_button:hover {
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
}

.mw_wp_form .back_button {
  font-size: 20px;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background: #888888;
  border: none;
}

.mw_wp_form .back_button:hover {
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
}

@media all and (max-width: 750px) {
  .mw_wp_form table th {
    width: 100%;
    display: block;
    border-top: none;
  }
  .mw_wp_form table td {
    width: 100%;
    display: block;
    border-top: none;
  }
  .mw_wp_form table tr:first-of-type {
    border-top: solid 1px #333333;
  }
}
/*# sourceMappingURL=style.css.map */